<!doctype html>
<html lang="en" ng-app="tkApp">
<head>
  <meta charset=utf-8 />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Tuong Ky</title>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<!-- <link href="lib/cdn/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/responsive.css"/>
</head>
<body>
  <div class="container" ng-controller="AppCtrl">
    <div class="row header" ng-hide="embed">
      <div class="col-md-2">
        <a href="#/"><img src="/img/tuongky.png"></a>
      </div>
      <div class="col-md-7 search-bar" ng-controller="SearchBarCtrl">
        <input type="text"
               ng-model="searchData.queryString"
               class="search-box"
               stop-propagation="true"
               press-enter="search()"
               tk-focus="searchData.searchBoxFocused"><button class="btn btn-sm btn-success search-button" ng-click="search($event)">
          Tìm kiếm
        </button><div class="create-game-dropdown dropdown">
          <button data-toggle="dropdown"
                  class="btn btn-sm btn-primary search-button"
                  ng-click="createGame($event)">Tạo tài liệu</button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="#/game/create">Từ đầu ván cờ</a></li>
            <li><a href="#/fen/create">Xếp hình cờ</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 user-bar" ng-controller="AuthController">
        <div ng-hide="user.authenticated" ng-cloak>
          <a ng-click="signIn()">Đăng nhập</a> <span class="separator" ng-hide="true">|</span>
          <a ng-click="signUp()" ng-hide="true">Đăng ký</a>
        </div>
        <div ng-show="user.authenticated" ng-cloak>
          Chào <a href="#/search/q={{user.username}}">{{user.username}}</a> <span class="separator">|</span>
          <span ng-show="user.isAdmin">
            <a ng-click="invite()">Mời đăng ký</a> <span class="separator">|</span>
          </span>
          <a ng-click="signOut()">Thoát</a>
        </div>
      </div>
    </div>
    <div class="row notification-bar" ng-hide="embed">
      <div class="col-md-12">
        <div class='alert alert-dismissable'
             ng-class='alert.type && "alert-" + alert.type'
             ng-show="alert.visible">
          <span ng-bind="alert.content"></span>
        </div>
      </div>
    </div>
    <div class="row" ng-hide="embed">
      <div class="col-md-12 loading">
        <img src="img/load_lg.gif" ng-show="data.loading" ng-cloak>
      </div>
    </div>
    <div ng-view class="view-container" ng-class="{embed: !!embed}" ng-hide="data.loading"></div>
  </div>

  <script src="lib/cdn/jquery.min.js"></script>

  <script src="lib/angular/1.2.9/angular.min.js"></script>
  <script src="lib/angular/1.2.9/angular-route.min.js"></script>
  <script src="lib/angular/1.2.9/angular-animate.min.js"></script>

  <script src="lib/underscore-min.js"></script>
  <script src="lib/jquery.cookie.js"></script>
  <script src='lib/bootstrap/dropdown.js'></script>
  <script src='lib/json2.js'></script>
  <script src='lib/ui-bootstrap-tpls-0.6.0.min.js'></script>

  <script src="js/common.js"></script>
  <script src="js/logic.js"></script>
  <script src="js/position.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-4550533-6', 'tuongky.com');
    ga('send', 'pageview');

  </script>
</body>
</html>
