form .error {
	color: #b94a48;
}

.header {
	border-bottom: 1px solid rgba(237, 237, 237, 0.8);
	padding-bottom: 5px;
}

.notification-bar {
	height: 28px;
	text-align: center;
}

.notification-bar .alert {
	display: inline-block;
	margin: 0;
	padding: 3px 30px;
	position: relative;
	top: -14px;
}

.notification-bar .alert .close {
	margin-top: -2px;
}

.user-bar {
	text-align: right;
}

.view-container {
	margin-bottom: 200px;
}

.board {
	background-image: url('/img/xq2/board.jpg');
	background-size: 100%;
	height: 577px;
	width: 521px;
	margin: 0 auto;
	padding-top: 3px;
	padding-left: 4px;
	float: left;
	position: relative;
}

.board .top-player-turn {
	background-color: black;
	margin-top: -7px;
	height: 5px;
	width: 120px;
	position: absolute;
  left: 50%;
  top: 0;
  margin-left: -60px;
}

.board .bottom-player-turn {
	background-color: red;
	margin-bottom: -7px;
	height: 5px;
	width: 120px;
	left: 50%;
  position: absolute;
  bottom: 0;
  margin-left: -60px;
}

.board-cell {
	height: 57px;
	width: 57px;
	float: left;
}

.board-cell img {
	cursor: pointer;
	height: 57px;
	width: 57px;
}

.over {
}

.drag {
	opacity: 0.7;
}

.move-list {
	height: 577px;
	width: 180px;
	margin-left: 10px;
	border: 1px solid;
	float: left;
	overflow-y: scroll;
}

.move-list table {
	width: 100%;
}

.move-list table td {
	cursor: pointer;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.move-list tr.selected {
	background-color: rgb(43, 120, 172);
	color: white;
}

.move-list .first {
	width: 50px;
	float: left;
	padding-right: 10px;
}

.move-list .second {
	width: 100%;
}

.commentContainer {
	height: 380px;
	width: 370px;
	margin-left: 10px;
	border: 1px solid;
	float: left;
}

.variationContainer {
	height: 187px;
	width: 370px;
	margin-top: 10px;
	margin-left: 10px;
	border: 1px solid;
	float: left;
}

.comment, .variation {
	overflow-y: scroll;
	width: 368px;
}

.comment {
	border: 0;
	height: 347px;
	resize: none;
}

.variation {
	height: 124px;
	padding: 2px 0;
}

.variation ul {
	margin: 0;
	padding: 0;
}

.variation li {
	cursor: pointer;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.variation li {
	list-style-type: none;
	padding: 1px 10px;
}

.variation li.selected {
	background-color: rgb(43, 120, 172);
	color: white;
}

.variationContainer .actions {
	width: 368px;
	height: 30px;
	border-top: 1px solid;
	text-align: center;
}

.title {
	background-color: rgb(144, 211, 255);
	width: 100%;
	border-bottom: 1px solid;
	text-align: center;
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
	height: 31px;
}

.box {
	background-color: rgb(232, 210, 142);
	border: 2px solid;
	height: 577px;
	width: 272px;
	margin-left: 10px;
	float: left;
}

.piece-container {
	height: 67px;
	width: 67px;
	float: left;
	border: 1px solid;
}

.piece-container img {
	height: 57px;
	width: 57px;
	margin: 4px 0 0 4px;
}

.box-separator {
	border: 1px solid;
	height: 37px;
	width: 268px;
  float: left;
  text-align: center;
}

.box-separator .arrow {
	font-size: 27px;
	-webkit-user-select: none;
}

.box-separator .arrow-left {
	margin-right: 60px;
}

.sandbox-form input {
	width: 600px;
}

.sandbox-form select {
	width: 150px;
}

.sandbox-actions button {
	width: 150px;
	margin-right: 10px;
}

.sandbox-results {
	margin-top: 20px;
}

.search-results {
/*	margin-top: 20px;
*/}

.search-results table {
	border-bottom: 1px solid #ddd;
}

.search-bar {
	/*border: 1px solid;*/
	height: 72px;
}

.search-bar .search-box {
	margin-top: 20px;
	padding: 2px 5px;
	height: 30px;
	font-size: 16px;
	vertical-align: middle;
	display: table-cell;
	width: 400px;
	border: 1px solid gray;
}

.search-bar .search-box:focus {
	border-color: rgb(92, 184, 92);
}

.search-bar .search-button {
	margin-top: 20px;
	margin-left: 10px;
	height: 30px;
	width: 80px;
}

.pagination {
	cursor: pointer;
	margin-top: 0;
}

.pagination li {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.pagination-container {
	text-align: center;
}

.create-game-dropdown {
	display: inline-block;
}

.create-game-dropdown .dropdown-menu {
	left: 9px;
}

.create-game-form-read, .create-game-form-edit {
	margin: 0;
}

.create-game-form-read {
	font-size: 20px;
}

.create-game-form-read button {
	margin: 10px 5px 0 0;
}

.create-game-form-edit select {
	width: 100px;
}

.create-game-form-edit button {
	margin-right: 10px;
}

.create-game-form-edit input.game-title {
	width: 600px;
}

.create-game-form-edit input.game-book {
	width: 400px;
}
