<h2 style="text-align:center;">Giới thiệu Tượng Kỳ</h2>
<br/>
<p>Tượng Kỳ là tên Hán Việt của trò chơi Cờ Tướng. Tuongky.com không phải là một website chơi cờ thông thường.</p>

<p>Mục đích của chúng tôi là giúp bạn học cờ tướng từ các ván cờ nổi tiếng và thử sức với các thế cờ kinh điển. Các thế cờ đều có lời giải và bạn phải đánh với máy cho đến khi thắng. Bạn có thể so sánh khả năng giải thế của mình với tất cả mọi người và thảo luận, chia sẻ kinh nghiệm. 
Cấp độ của bạn phụ thuộc vào số bài mà bạn giải được chia cho tổng số bài. Có tất cả 13 cấp độ từ 0 đến 12.</p> 
<p>Chúc bạn giải thế vui vẻ.</p>
