<div class="row">
  <div class="col-md-12">
    <div class="board">
      <div class="top-player-turn" ng-show="turn == 2"></div>
      <div class="bottom-player-turn" ng-show="turn == 1"></div>
      <div ng-repeat="row in board">
        <div ng-repeat="cell in row"
             class="board-cell"
             droppable
             drop="dropIt(dragId, $parent.$index, $index)">
          <img ng-src="/img/xq2/{{getImageName(cell)}}.gif"
               ng-show="cell != 0"
               id="sq_{{$parent.$index}}_{{$index}}"
               draggable
               ng-click="selectPiece($parent.$index, $index)">
        </div>
      </div>
    </div>

    <div class="move-list">
      <table>
        <tr ng-repeat="move in moveTable"
            ng-class="{selected: $index == currentLineIndex}"
            ng-click="selectMove($index)">
          <td class="first" align="right">{{move.first}}</td>
          <td class="second">
            {{move.second}}
            <span ng-show="line[$index].nodeData.comment">*</span>
          </td>
        </tr>
      </table>
    </div>

    <div class="commentContainer">
      <div class="title">Bình luận</div>
      <textarea ng-model="line[currentLineIndex].nodeData.comment"
                class="comment"
                ng-show="true"
                ng-readonly="!editMode"></textarea>
    </div>

    <div class="variationContainer">
      <div class="title">Lựa chọn</div>
      <div class="variation">
        <ul>
          <li ng-repeat="node in variations"
              ng-class="{selected: $index == currentVariationIndex}"
              ng-click="selectVariation($index)">
            {{$index + 1}}. {{node.nodeData.humanMove}}
          </li>
        </ul>
      </div>
      <div class="actions">
        <button class="btn btn-link" ng-disabled="!editMode" ng-click="moveVariationUp()">Lên</button>
        <button class="btn btn-link" ng-disabled="!editMode" ng-click="moveVariationDown()">Xuống</button>
        <button class="btn btn-link" ng-disabled="!editMode" ng-click="deleteVariation()">Xóa</button>
      </div>
    </div>
  </div>
</div>
