<div class="row sandbox-form" ng-show="editMode">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <td>Phân loại:</td>
        <td>
          <select ng-model="game.category">
            <option value="1">Ván đấu</option>
            <option value="2">Khai cuộc</option>
            <option value="3">Trung cuộc</option>
            <option value="4">Tàn cuộc</option>
            <option value="5">Cờ thế</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Tiêu đề:</td>
        <td>
          <input type="text" ng-model="game.title">
        </td>
      </tr>
      <tr>
        <td>Sách / Giải đấu:</td>
        <td>
          <input type="text" ng-model="game.book">
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button class="btn btn-sm btn-primary" ng-click="saveGame()">Lưu game</button>
          <button class="btn btn-sm" ng-click="cancelChanges()" ng-show="game.id">Hủy thay đổi</button>
          <button class="btn btn-sm btn-primary" ng-click="editPosition()" ng-hide="game.id">Xếp hình cờ</button>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row sandbox-form" ng-hide="editMode">
  <div class="col-md-12">
    Phan loai: {{game.category}}<br/>
    Tieu de: {{game.title}}<br/>
    Sach / Giai dau: {{game.book}}<br/>
    <button class="btn btn-sm btn-primary" ng-click="editGame()">Cập nhật game</button>
  </div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="board">
      <div class="top-player-turn" ng-show="turn == 2"></div>
      <div class="bottom-player-turn" ng-show="turn == 1"></div>
		  <div ng-repeat="row in board">
		    <div ng-repeat="cell in row"
		         class="board-cell"
		         droppable
		         drop="dropIt(dragId, $parent.$index, $index)">
			    <img ng-src="/img/xq2/{{getImageName(cell)}}.gif"
			         ng-show="cell != 0"
			         id="sq_{{$parent.$index}}_{{$index}}"
			         draggable
			         ng-click="selectPiece($parent.$index, $index)">
		    </div>
		  </div>
		</div>

		<div class="move-list">
		  <table>
			  <tr ng-repeat="move in moveTable"
			      ng-class="{selected: $index == currentLineIndex}"
			      ng-click="selectMove($index)">
			    <td class="first" align="right">{{move.first}}</td>
			    <td class="second">{{move.second}}</td>
			  </tr>
		  </table>
		</div>

    <div class="commentContainer">
      <div class="title">Bình luận</div>
      <textarea class="comment" ng-show="true" ng-readonly="false"></textarea>
    </div>

    <div class="variationContainer">
      <div class="title">Lựa chọn</div>
      <div class="variation">
	      <ul>
	        <li ng-repeat="node in variations"
	            ng-class="{selected: $index == currentVariationIndex}"
	            ng-click="selectVariation($index)">
	          {{$index + 1}}. {{node.nodeData.humanMove}}
	        </li>
	      </ul>
      </div>
      <div class="actions">
        <button class="btn btn-link" ng-click="moveVariationUp()">Lên</button>
        <button class="btn btn-link" ng-click="moveVariationDown()">Xuống</button>
        <button class="btn btn-link" ng-click="deleteVariation()">Xóa</button>
      </div>
    </div>
  </div>
</div>
