<div class="row create-game-form-edit" ng-show="editMode">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <td>Phân loại:</td>
        <td>Tiêu đề:</td>
        <td>Sách / Giải đấu:</td>
      </tr>
      <tr>
        <td>
          <select ng-model="game.category">
            <option value="1">{{CATEGORIES[1]}}</option>
            <option value="2">{{CATEGORIES[2]}}</option>
            <option value="3">{{CATEGORIES[3]}}</option>
            <option value="4">{{CATEGORIES[4]}}</option>
            <option value="5">{{CATEGORIES[5]}}</option>
          </select>
        </td>
        <td>
          <input type="text" class="game-title" ng-model="game.title" tk-focus="titleFocused">
        </td>
        <td>
          <input type="text" class="game-book" ng-model="game.book">
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button class="btn btn-sm btn-primary" ng-click="saveGame()">
            {{game.id && 'Lưu thay đổi' || 'Tạo game mới'}}
          </button>
          <button class="btn btn-sm" ng-click="cancelChanges()" ng-show="game.id">Hủy thay đổi</button>
        </td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
<div class="row create-game-form-read" ng-hide="editMode">
  <div class="col-md-12">
    {{CATEGORIES[game.category]}} -
    {{game.title}} -
    {{game.book}}
    <div>
      <button class="btn btn-sm btn-primary" ng-click="editGame()">Cập nhật</button>
      <button class="btn btn-sm btn-danger" ng-click="deleteGame()">Xóa game</button>
    </div>
  </div>
</div>
<board fen="fen" edit-mode="editMode"></board>
