<div class="row">
  <div class="col-md-12">
    <div class="fen"><b>FEN:</b> {{fen}}</div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <form name="form">
      <table class="table">
        <tr>
          <td align="right"><b>Số nước 2 bên đã đi:</b></td>
          <td>
            <input type="text"
                   ng-model="fullMoveNumber"
                   name="fullMoveNumber"
                   ng-pattern="/^[1-9][0-9]{0,2}$/">
            <span class="help-block error" ng-show="form.fullMoveNumber.$error.pattern">
              Phải là số từ 1 đến 999.
            </span>
          </td>
        </tr>
        <tr>
          <td align="right"><b>Người chơi tiếp theo:<b/></td>
          <td>
            <input type="radio" ng-model="turn" value="1"> Bên đỏ &nbsp;&nbsp;
            <input type="radio" ng-model="turn" value="2"> Bên đen
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button class="btn btn-primary btn-sm" ng-click="toCreateGame()">Xếp xong</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="col-md-6"></div>
</div>

<div class="row create-fen">
  <div class="col-md-12">
    <div class="board">
      <div class="top-player-turn" ng-show="turn == 2"></div>
      <div class="bottom-player-turn" ng-show="turn == 1"></div>
      <div tk-board
           data="board"
           api="boardApi"
           drop-on="dropIt(dragId, row, col)"></div>
    </div>

    <div class="box">
      <div class="black-box">
        <div ng-repeat="piece in blackBox track by $index" class="piece-container">
          <img ng-src="/img/xq2/{{getImageName(piece)}}.gif"
               ng-show="piece != 0"
               ng-click="selectPieceInBox($index, piece)"
               draggable
               id="box_{{$index}}">
        </div>
      </div>
      <div class="box-separator">
        <span class="glyphicon glyphicon-arrow-left arrow arrow-left"
              ng-click="putAllOnBoard()"></span>
        <span class="glyphicon glyphicon-arrow-right arrow"
              ng-click="putAllIntoBoxes()"></span>
      </div>
      <div class="red-box">
        <div ng-repeat="piece in redBox track by $index" class="piece-container">
          <img ng-src="/img/xq2/{{getImageName(piece)}}.gif"
               ng-show="piece != 0"
               ng-click="selectPieceInBox($index, piece)"
               draggable
               id="box_{{$index + 16}}">
        </div>
      </div>
    </div>
  </div>
</div>
