<div class="help-view">
  <h2 style="text-align:center;">Các câu hỏi thường gặp</h2>

  <h3>Trình độ có bao nhiêu mức và được tính thế nào?</h3>
  <p>Tổng cộng 13 mức từ 0 đến 12. Trình của bạn được tính dựa vào số bài bạn giải được và tổng số bài đang có trên tuongky.com. Công thức như sau:</p>

  <h4 style="text-align:center; bold;">Trình Độ = [Số bài bạn giải được * 12 / Tổng số bài] (làm tròn xuống)</h4>

  <p>Như vậy trình của bạn tăng khi bạn giải được thêm bài và giảm khi có thêm bài mới trên tuongky (và số bài bạn giải được không đổi). Điều này khuyến khích bạn thường xuyên luyện tập để nâng cao hoặc giữ nguyên lực cờ. Cụ thể danh hiệu của 13 trình như sau.<p>

  <table class="table table-striped table-bordered levels">
    <tr>
      <th>Trình độ</th>
      <th>Danh hiệu</th>
    </tr>
    <tr ng-repeat="levelDesc in levelDescs">
      <td>{{$index}}</td>
      <td>{{levelDesc}}</td>
    </tr>
  </table>
  <p>Chúc bạn sớm đạt đến cảnh giới <b>Vô Đối</b>!</p>
<div>
