<div class="problem-viewer" ng-class="{not_attempting: !attempting}">
  <h2>
    Bài {{problem.id}}{{problem.title && ' - ' + problem.title || ''}}
    <img src="/img/checkmark.png" ng-if="problem.solved" class="tick">
  </h2>
  <h4>Đỏ đi trước thắng.</h4>

  <div class="buttons-container">
    <button class="btn btn-lg attempt-or-retry-btn fb-login"
            ng-click="signInWithFacebook()"
            ng-hide="authenticated">Đăng nhập để giải thế</button>
    <button class="btn btn-lg btn-success attempt-or-retry-btn"
            ng-click="attempt()"
            ng-hide="!authenticated || attempting">Giải thế</button>
    <button class="btn btn-lg btn-default attempt-or-retry-btn"
            ng-click="retry()"
            ng-show="authenticated && attempting">Thử lại</button>

    <iframe ng-src="{{getShareUrl(problem.id)}}"
            scrolling="no"
            frameborder="0"
            style="border:none; overflow:hidden"
            allowTransparency="true"></iframe>
  </div>

  <div class="board">
    <div class="top-player-turn" ng-show="turn == 2"></div>
    <div class="bottom-player-turn" ng-show="turn == 1"></div>
    <div tk-board
         data="board"
         highlights="highlights"
         api="boardApi"
         drop-on="dropIt(dragId, row, col)"
         select-piece="selectPiece(row, col)"></div>
  </div>

</div>

<div ng-show="problem.solved">
  Facebook comment goes here.
</div>
