<div class="problem-viewer" ng-class="{not_attempting: !attempting}">
  <div class="right-pane">
    <div class="problem-info">
      <div class="problem-title">
        <problem-name problem-id="problem.id" problem-title="problem.title" />
      </div>
      <img src="/img/checkmark.png" ng-if="problem.solved" class="tick" title="Da xong">
      <div class="requirement">Đỏ đi trước thắng.</div>
      <div class="attempts" ng-if="authenticated">
        <span ng-if="attempting">Lần thử thứ <b>{{problem.attempts}}</b>.</span>
        <span ng-if="!attempting && !!problem.attempts">
          Đã thử <strong>{{problem.attempts}}</strong> lần.
        </span>
        <span ng-if="!attempting && !problem.attempts">
          Bạn chưa thử giải thế lần nào.
        </span>
      </div>
      <div class="solvers">
        <a ng-href="#/solvedby/{{problem.id}}">{{problem.solvers}}</a> kỳ thủ đã giải được bài này.
      </div>
    </div>

    <div class="buttons-container">
      <button class="btn btn-lg action-btn fb-login"
              ng-click="signInWithFacebook()"
              ng-hide="authenticated">Đăng nhập để giải thế</button>
      <button class="btn btn-lg btn-default action-btn attempt-btn"
              ng-click="attempt()"
              ng-hide="!authenticated || attempting">
        <span class="glyphicon glyphicon-play"></span>
        Giải thế
      </button>
      <button class="btn btn-lg btn-default action-btn retry-btn"
              ng-click="retry()"
              ng-show="authenticated && attempting"
              ng-disabled="hasNotMoved()">
        <span class="glyphicon glyphicon-repeat"></span>
        Thử lại
      </button>
      <button class="btn btn-default next-btn"
              ng-click="goToNextProblem()">
        <span class="glyphicon glyphicon-forward"></span>
        Bài tiếp theo
      </button>
    </div>

    <div class="fb-buttons">
      <iframe ng-src="{{getShareUrl(problem.id)}}"
              scrolling="no"
              frameborder="0"
              style="border:none; overflow:hidden"
              allowTransparency="true"></iframe>
    </div>
  </div>

  <div class="mobile-problem-info">
    <div class="problem-title">
      <problem-name problem-id="problem.id" problem-title="problem.title" />
    </div>
    <img src="/img/checkmark.png" ng-if="problem.solved" class="tick" title="Da xong">
    <div class="requirement">Đỏ đi trước thắng.</div>
    <div class="attempts" ng-if="authenticated">
      <span ng-if="attempting">Lần thử thứ <b>{{problem.attempts}}</b>.</span>
      <span ng-if="!attempting && !!problem.attempts">
        Đã thử <strong>{{problem.attempts}}</strong> lần.
      </span>
      <span ng-if="!attempting && !problem.attempts">
        Bạn chưa thử giải thế lần nào.
      </span>
    </div>
    <div class="solvers">
      <a ng-href="#/solvedby/{{problem.id}}">{{problem.solvers}}</a> kỳ thủ đã giải được bài này.
    </div>
  </div>

  <div class="board">
    <div class="top-player-turn" ng-show="turn == 2"></div>
    <div class="bottom-player-turn" ng-show="turn == 1"></div>
    <div tk-board
         data="board"
         highlights="highlights"
         api="boardApi"
         drop-on="dropIt(dragId, row, col)"
         select-piece="selectPiece(row, col)"></div>

  </div>

  <div class="mobile-buttons-container">

    <button class="btn action-btn fb-login"
            ng-click="signInWithFacebook()"
            ng-hide="authenticated">Đăng nhập để giải thế</button>
    <button class="btn btn-default action-btn attempt-btn"
            ng-click="attempt()"
            ng-hide="!authenticated || attempting">
      <span class="glyphicon glyphicon-play"></span>
      Giải thế
    </button>
    <button class="btn btn-default action-btn retry-btn"
            ng-click="retry()"
            ng-show="authenticated && attempting"
            ng-disabled="hasNotMoved()">
      <span class="glyphicon glyphicon-repeat"></span>
      Thử lại
    </button>
    <button class="btn btn-default next-btn"
            ng-click="goToNextProblem()">
      <span class="glyphicon glyphicon-forward"></span>
      Bài tiếp theo
    </button>

  </div>

</div>

<!-- <div ng-show="problem.solved" class="fb-comments-plugin">
  <div class="fb-comments"
       data-href="http://tuongky.ngrok.com/problem/id/{{problem.id}}"
       data-numposts="5"
       data-colorscheme="light"></div>
</div>
 -->
