<br/>
<table class="table">
  <tr>
    <th>Tiêu đề</th>
    <th>Số người giải được</th>
    <th></td>
  </tr>

  <tr ng-repeat="problem in problems">
    <td><a ng-href="#/problem/{{problem.id}}">Bài {{problem.id}}{{problem.title && ' - ' + problem.title || ''}}</a></td>
    <td><a ng-href="#/solvedby/{{problem.id}}">{{problem.solvedBy}}</a></td>
    <td><span ng-if="problem.solved">Xong</span></th>
  </tr>
</table>

<pagination total-items="problems.length"
            items-per-page="1"
            page="1"
            max-size="10"
            previous-text="Trước"
            next-text="Sau"
            on-select-page="selectPage(page)"></pagination>
