<h3 style="text-align:center">Bài Tập</h3>

<table class="table table-striped table-bordered problem-list">
  <tr>
    <th>Tiêu đề</th>
    <th>Đã giải xong</td>
    <th>Số người giải được</th>
    <th>Tổng số lần thử</th>
  </tr>

  <tr ng-repeat="problem in problems">
    <td>
      <problem-link problem-id="problem.id" problem-title="problem.title" />
    </td>
    <td><span ng-if="problem.solved"><img src="/img/checkmark.png" class="done"></span></th>
    <td><a ng-href="#/solvedby/{{problem.id}}">{{problem.solvers}}</a></td>
    <td>{{problem.attempters}}</a></td>
  </tr>
</table>

<div class="pagination-container" ng-if="totalItems > ITEMS_PER_PAGE">
  <pagination total-items="totalItems"
              items-per-page="ITEMS_PER_PAGE"
              page="currentPage"
              max-size="10"
              previous-text="Trước"
              next-text="Sau"
              on-select-page="selectPage(page)"></pagination>
</div>
