<div>{{problem.description}}</div>
<div class="problem-viewer">
  <div class="board">
    <div class="top-player-turn" ng-show="turn == 2"></div>
    <div class="bottom-player-turn" ng-show="turn == 1"></div>
    <div tk-board
         data="board"
         highlights="highlights"
         api="boardApi"
         drop-on="dropIt(dragId, row, col)"
         select-piece="selectPiece(row, col)"></div>
  </div>
</div>

<div ng-show="problem.solved">
  Facebook comment goes here.
</div>

<button class="btn btn-primary" ng-click="test()">Do something</button>

<div class="fb-like" data-href="http://thu.tuongky.com/" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
