<h3 style="text-align:center">Bảng Xếp Hạng</h3>

<table class="table table-striped table-bordered">
  <tr>
    <th>Thứ hạng</th>
    <th>Tên kỳ thủ</th>
    <th>Trình độ</th>
    <th>Số bài</td>
    <th>Số lần thử</td>
  </tr>

  <tr ng-repeat="rank in ranks">
    <td>{{(currentPage - 1) * ITEMS_PER_PAGE + $index + 1}}</td>
    <td>
      <img ng-src="http://graph.facebook.com/{{rank.user.fbId}}/picture?type=square">
      <a ng-href="#/profile/{{rank.user.fbId}}">{{rank.user.fbName}}</a>
    </td>
    <td>{{rank.levelDesc}}</td>
    <td>{{rank.userMetadata.solves}}</th>
    <td>{{rank.userMetadata.attempts}}</th>
  </tr>
</table>

<div class="pagination-container" ng-if="totalItems > ITEMS_PER_PAGE">
  <pagination total-items="totalItems"
              items-per-page="ITEMS_PER_PAGE"
              page="currentPage"
              max-size="10"
              previous-text="Trước"
              next-text="Sau"
              on-select-page="selectPage(page)"></pagination>
</div>
