<br/>
<table class="table">
  <tr>
    <th>ID</th>
    <th>Ten</th>
    <th>So bai</td>
    <th>So lan thu</td>
  </tr>

  <tr ng-repeat="rank in ranks">
    <td><a ng-href="">{{rank.user.id}}</a></td>
    <td><a ng-href="">{{rank.user.fbName}}</a></td>
    <td>{{rank.userMetadata.solves}}</th>
    <td>{{rank.userMetadata.attempts}}</th>
  </tr>
</table>

<div class="pagination-container" ng-if="totalItems > ITEMS_PER_PAGE">
  <pagination total-items="totalItems"
              items-per-page="ITEMS_PER_PAGE"
              page="currentPage"
              max-size="10"
              previous-text="Trước"
              next-text="Sau"
              on-select-page="selectPage(page)"
              ></pagination>
</div>
