<div class="row search-results" ng-show="totalItems && !data.loading">
	<div class="col-md-12">
		<div class="search-stats">
			Có <em>{{totalItems | number:0}}</em> kết quả
		</div>
		<table class="table table-striped">
			<colgroup>
				<col class="categoryColumn"></col>
				<col class="titleColumn"></col>
				<col class="bookColumn"></col>
				<col class="usernameColumn"></col>
				<col class="viewsColumn"></col>
			</colgroup>
			<tr>
				<th>Phân loại</th>
				<th>Tiêu đề</th>
				<th>Sách / Giải đấu</th>
				<th>Người tạo</th>
  			<th>Lượt xem</th>
			</tr>
			<tr ng-repeat="searchResult in searchResults">
				<td>{{searchResult.categoryText}}</td>
				<td>
					<a href="#/game/id/{{searchResult.id}}">
						<span ng-bind-html="searchResult.annotated_title"></span>
					</a>
				</td>
				<td>
					<a href="#/search/q={{searchResult.encoded_book}}">
						<span ng-bind-html="searchResult.annotated_book"></span>
					</a>
				</td>
				<td>
					<a href="#/search/q={{searchResult.username}}">
						<span ng-bind-html="searchResult.annotated_username"></span>
					</a>
				</td>
				<td>{{searchResult.views}}</td>
			</tr>
		</table>
	</div>
</div>
<div class="row" ng-show="totalItems > ITEMS_PER_PAGE">
	<div class="col-md-12 pagination-container">
		<pagination total-items="totalItems"
								items-per-page="ITEMS_PER_PAGE"
		            page="currentPage"
		            max-size="10"
		            previous-text="Trước"
		            next-text="Sau"
		            on-select-page="selectPage(page)"></pagination>
	</diV>
</div>
<div class="row no-search-results" ng-hide="totalItems || data.loading" ng-cloak>
	<div ng-include="'partials/no_search_results.html'"></div>
</div>
