<div class="row search-results" ng-show="searchResults">
	<div class="col-md-12">
		<table class="table table-striped">
			<tr>
				<th>Phân loại</th>
				<th>Tiêu đề</th>
				<th>Sách / Giải đấu</th>
				<th>Người tạo</th>
			</tr>
			<tr ng-repeat="searchResult in searchResults">
				<td>{{searchResult.categoryText}}</td>
				<td>
					<a href="#/game/id/{{searchResult.id}}">
						<span ng-bind-html-unsafe="searchResult.annotated_title"></span>
					</a>
				</td>
				<td>
					<a href="#/search/q={{searchResult.book}}">
						<span ng-bind-html-unsafe="searchResult.annotated_book"></span>
					</a>
				</td>
				<td>
					<a href="#/search/q={{searchResult.username}}">
						<span ng-bind-html-unsafe="searchResult.annotated_username"></span>
					</a>
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="row" ng-show="totalItems > ITEMS_PER_PAGE">
	<div class="col-md-12 pagination-container">
		<pagination total-items="totalItems"
								items-per-page="ITEMS_PER_PAGE"
		            page="currentPage"
		            max-size="10"
		            previous-text="Trước"
		            next-text="Tiếp"
		            on-select-page="selectPage(page)"></pagination>
	</diV>
</div>
<div class="row no-search-results" ng-hide="searchResults">
	<div class="col-md-12">
		Xin lỗi, không tìm thấy kết quả nào cho bạn. Bạn có thể thử các từ khóa khác.
	</div>
</div>
