<div class="row signin-form">
  <div class="col-md-4"></div>
  <div class="col-md-4 well">
    <legend>Mời bạn đăng nhập</legend>
    <div class="form-group">
      <input type="text"
             class="form-control"
             ng-model="username"
             tk-focus="usernameFocused"
             placeholder="Tài khoản">
    </div>
    <div class="form-group">
      <input type="password"
             class="form-control"
             ng-model="password"
             placeholder="Mật khẩu">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Nhớ mặt
      </label>
    </div>
    <button class="btn btn-info btn-block" ng-click="signIn()">Đăng nhập</button>
  </div>
  <div class="col-md-4"></div>
</div>
