<h4 style="text-align:center">Những kỳ thủ đã giải được</h4>
<h3 style="text-align:center">Bài {{problem.id}}{{problem.title && ' - ' + problem.title || ''}}</h3>

<table class="table table-striped table-bordered">
  <tr>
    <th>ID</th>
    <th>Tên kỳ thủ</th>
    <th>Thời điểm</th>
  </tr>

  <tr ng-repeat="item in items">
    <td>{{(currentPage - 1) * ITEMS_PER_PAGE + $index + 1}}</td>
    <td>
      <img ng-src="http://graph.facebook.com/{{item.user.fbId}}/picture?type=square">
      <a ng-href="#/profile/{{item.user.fbId}}">{{item.user.fbName}}</a>
    </td>
    <td>{{item.solution.createdDate | date:'medium'}}</td>
  </tr>
</table>

<div class="pagination-container" ng-if="totalItems > ITEMS_PER_PAGE">
  <pagination total-items="totalItems"
              items-per-page="ITEMS_PER_PAGE"
              page="currentPage"
              max-size="10"
              previous-text="Trước"
              next-text="Sau"
              on-select-page="selectPage(page)"></pagination>
</div>
