<div class="modal-header">
  <h3>Đỏ thắng. Chức mừng bạn đã vượt qua thử thách!</h3>
</div>
<div class="modal-body">
  <h4>Nếu bạn thấy thế cờ này hay, hãy bấm nút ở dưới để chia sẻ với các bạn của mình. TuongKy chân thành cảm ơn bạn!</h4><br/>
  <iframe ng-src="{{shareUrl}}"
          scrolling="no"
          frameborder="0"
          style="border:none; overflow:hidden"
          allowTransparency="true"></iframe>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Đóng lại</button>
</div>
