<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.tuongky.servlet.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>FenImageGenerate</servlet-name>
    <servlet-class>com.tuongky.servlet.FenImageGenerateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FenImageGenerate</servlet-name>
    <url-pattern>/fen_img/*</url-pattern>
  </servlet-mapping>

	<servlet>
		<servlet-name>ShardedCounter</servlet-name>
		<servlet-class>com.tuongky.servlet.ShardedCounterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShardedCounter</servlet-name>
		<url-pattern>/sharded_counter</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BookList</servlet-name>
		<servlet-class>com.tuongky.servlet.BookListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookList</servlet-name>
		<url-pattern>/books</url-pattern>
	</servlet-mapping>

  <servlet>
    <servlet-name>InviteCreate</servlet-name>
    <servlet-class>com.tuongky.servlet.InviteCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InviteCreate</servlet-name>
    <url-pattern>/invite/create</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FacebookSignin</servlet-name>
    <servlet-class>com.tuongky.servlet.FacebookSigninServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacebookSignin</servlet-name>
    <url-pattern>/fb_signin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Signin</servlet-name>
    <servlet-class>com.tuongky.servlet.SigninServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signin</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Signup</servlet-name>
    <servlet-class>com.tuongky.servlet.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>

	<servlet>
		<servlet-name>GameInit</servlet-name>
		<servlet-class>com.tuongky.servlet.game.GameInitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GameInit</servlet-name>
		<url-pattern>/game/init</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GameCreate</servlet-name>
		<servlet-class>com.tuongky.servlet.game.GameCreateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GameCreate</servlet-name>
		<url-pattern>/game/create</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GameSave</servlet-name>
		<servlet-class>com.tuongky.servlet.game.GameSaveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GameSave</servlet-name>
		<url-pattern>/game/save</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GameDelete</servlet-name>
		<servlet-class>com.tuongky.servlet.game.GameDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GameDelete</servlet-name>
		<url-pattern>/game/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GameShow</servlet-name>
		<servlet-class>com.tuongky.servlet.game.GameShowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GameShow</servlet-name>
		<url-pattern>/game/show</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GameSearch</servlet-name>
		<servlet-class>com.tuongky.servlet.game.GameSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GameSearch</servlet-name>
		<url-pattern>/game/search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProblemCreate</servlet-name>
		<servlet-class>com.tuongky.servlet.problem.ProblemCreateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProblemCreate</servlet-name>
		<url-pattern>/problem/create</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProblemGet</servlet-name>
		<servlet-class>com.tuongky.servlet.problem.ProblemGetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProblemGet</servlet-name>
		<url-pattern>/problem/get</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProblemDelete</servlet-name>
		<servlet-class>com.tuongky.servlet.problem.ProblemDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProblemDelete</servlet-name>
		<url-pattern>/problem/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProblemSearch</servlet-name>
		<servlet-class>com.tuongky.servlet.problem.ProblemsFindServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProblemSearch</servlet-name>
		<url-pattern>/problem/search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProblemSolve</servlet-name>
		<servlet-class>com.tuongky.servlet.problem.ProblemSolveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProblemSolve</servlet-name>
		<url-pattern>/problem/solve</url-pattern>
	</servlet-mapping>

  <servlet>
    <servlet-name>LastAttempts</servlet-name>
    <servlet-class>com.tuongky.servlet.problem.LastAttemptsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LastAttempts</servlet-name>
    <url-pattern>/problem/lastAttempts</url-pattern>
  </servlet-mapping>

	<servlet>
		<servlet-name>CanonicalProblem</servlet-name>
		<servlet-class>com.tuongky.servlet.problem.CanonicalProblemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CanonicalProblem</servlet-name>
		<url-pattern>/problem/*</url-pattern>
	</servlet-mapping>

  <servlet>
    <servlet-name>UserStatus</servlet-name>
    <servlet-class>com.tuongky.servlet.user.UserStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserStatus</servlet-name>
    <url-pattern>/user_status</url-pattern>
  </servlet-mapping>

	<servlet>
		<servlet-name>UsersRank</servlet-name>
		<servlet-class>com.tuongky.servlet.user.UsersRankServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersRank</servlet-name>
		<url-pattern>/users/rank</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserGet</servlet-name>
		<servlet-class>com.tuongky.servlet.user.UserGetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserGet</servlet-name>
		<url-pattern>/user/get</url-pattern>
	</servlet-mapping>

  <servlet>
    <servlet-name>UserProfile</servlet-name>
    <servlet-class>com.tuongky.servlet.user.UserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfile</servlet-name>
    <url-pattern>/user/profile</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value />
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>


    <servlet>
        <servlet-name>ProblemAttempt</servlet-name>
        <servlet-class>com.tuongky.servlet.problem.ProblemAttemptServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProblemAttempt</servlet-name>
        <url-pattern>/problem/attempt</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ranker</servlet-name>
        <servlet-class>com.tuongky.servlet.user.RankerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ranker</servlet-name>
        <url-pattern>/user/ranker</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>com.tuongky.servlet.mail.MailHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/mail/send</url-pattern>
    </servlet-mapping>

</web-app>
